<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sajib.namajerdoya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Doyalist"
            android:parentActivityName=".Main2Activity"
            />
        <activity android:name=".Fatiha"
            android:parentActivityName=".Doyalist" />
        <activity android:name=".Ikhlas"  android:parentActivityName=".Doyalist"/>
        <activity android:name=".Kaosar"  android:parentActivityName=".Doyalist" />
        <activity android:name=".Kafirun"  android:parentActivityName=".Doyalist" />
        <activity android:name=".Lahab"  android:parentActivityName=".Doyalist" />
        <activity android:name=".Asor"  android:parentActivityName=".Doyalist" />
        <activity android:name=".Nas"  android:parentActivityName=".Doyalist" />
        <activity android:name=".Kurais"  android:parentActivityName=".Doyalist" />
        <activity android:name=".Maun"  android:parentActivityName=".Doyalist" />
        <activity android:name=".Falak"  android:parentActivityName=".Doyalist" />
        <activity android:name=".Fil"  android:parentActivityName=".Doyalist" />
        <activity android:name=".NamajerHadis"  android:parentActivityName=".Main2Activity" />
        <activity android:name=".Niyatlist"  android:parentActivityName=".Main2Activity" />
        <activity android:name=".Fojor"  android:parentActivityName=".Niyatlist" />
        <activity android:name=".Johor"  android:parentActivityName=".Niyatlist" />
        <activity android:name=".Asorerniyat"  android:parentActivityName=".Niyatlist" />
        <activity android:name=".Magrib"  android:parentActivityName=".Niyatlist" />
        <activity android:name=".Esa"  android:parentActivityName=".Niyatlist" />
        <activity android:name=".Bitore" android:parentActivityName=".Niyatlist" />
        <activity android:name=".Amol"  android:parentActivityName=".Main2Activity" />
        <activity android:name=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>